<section class="year-archive">
    <header>
        <h1  style="color:#2bb48a;"><a <%if (path !== '#') {%>href="<%= url_for(path) %>" <% } %>><%= title %></a></h1>
    </header>
    <ul class="archive-content">
        <% posts.forEach(function (post) { %>
            <li style="margin-top:10px;">
                <div class="post-time" style="color:#2bb48a; width:80px; float:left;"><%= date(post.date, dateFormat) %></div>
                <a class="post-title" style="color:#c9cacc;" href="<%= url_for(post.path) %>" >
                    <%= post.title%>
                </a>
            </li>
        <% }) %>
        </ul>
</section>
